<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="outer-box">
        <div id="toggle-button">
            <a href="/"><button>Register</button></a>
        </div>
        <!-- <div class="inner-box"> -->
            <!-- <header class="signup-header" >
                
            </header> -->
            <main class="signup-body">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Date Of Birth</th>
                        <th>Mobile No</th>
                    </tr>
                    <% if (allUsers.length===0) { %>
                        <td colspan="5">No Users in the table</td>
                        <% } else { %>
                            <tr>
                                <% for( let i=0; i < allUsers.length; i++ ) { %>
                                    <td>
                                        <%= allUsers[i].dataValues.name %>
                                    </td>
                                    <td>
                                        <%= allUsers[i].dataValues.email %>
                                    </td>
                                    <td>
                                        <%= allUsers[i].dataValues.password %>
                                    </td>
                                    <td>
                                        <%= allUsers[i].dataValues.dob %>
                                    </td>
                                    <td>
                                        <%= allUsers[i].dataValues.mobileNumber %>
                                    </td>
                                </tr>
                                    <% } %>
                                        <% } %>
                </table>
                <% if (allUsers.length===0) { %>
                    <h1>No Users in the table</h1>
                    <% } else { %>
                        <% for( let i=0; i < allUsers.length; i++ ) { %>

                            <% } %>
                                <% } %>
            </main>
        <!-- </div> -->
        <!-- <div class="circle c1"></div>
        <div class="circle c2"></div> -->
    </div>

</body>

</html>